[submodule "frontend-jobsite"]
	path = frontend-jobsite
	url = https://github.com/mijamessmith/frontend-jobsite
[submodule "backend-jobsite"]
	path = backend-jobsite
	url = https://github.com/mijamessmith/backend-jobsite
[submodule "accounts-service"]
	path = accounts-service
	url = https://github.com/mijamessmith/accounts-service
